@model int

<div class="container pt-4">
  <div class="col-12 text-center">
    <h4 class="text-primary text-center">
      Xác Nhận Bạn Đã Đặt Phòng
    </h4>
    <br />
    <p>Mã Định Danh Đơn Hàng Của Bạn: @Model</p>
  </div>
  <div class="col-12 text-center text-dark">
    <p class="pt-1">Tuyệt Vời. Chúng Tôi Sẽ Xử Lý Đơn Hàng Bạn Trong Thời Gian Ngắn Nhất!</p>
  </div>
</div>