@model IEnumerable<Domain.Entities.Booking>

<div class="w-100 card border-0 p-4">
  <div class="card-header bg-primary bg-gradient m-lg-0 py-3">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-white py-2">Danh sách Booking</h2>
      </div>
    </div>
  </div>
  <div class="card-body border p-4">

    <table id="tableBookings" class="table table-bordered table-striped">
      <thead>
        <tr>
          @* ctrl K F *@
          <th>ID</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Status</th>
          <th>Check In Date</th>
          <th>Nights</th>
          <th>Total</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>

@section Scripts {
  @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script> *@
  <script src="~/js/booking.js"></script>
}